*{
    margin: 0;
    padding:0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



@media only screen and (max-width:500px)
 {
    
    /*=========================== background img with content=============================*/
    .content{
        position: relative;
        background-image: linear-gradient(blue,rgb(0, 10, 10));
        background-repeat: no-repeat;
        background-size:auto;
        width:100%;height: 80vh;
        text-align: center;
        
        
    }
    .content .text{
        position: absolute;
        top:10%;left:0%;
        width: 100%;
        z-index: 0;
        color:white;
        text-shadow: -1px 1px 0 blue, 1px 1px 0 blue,1px -1px 0 blue,-1px -1px 0 blue;
        text-align: center;
    }

    .content img{
       display: none;
    }
    .text h2{
        
        padding:0px 15px  60px 15px;
     }
    
     .text .p1{
        font-size: 20px;
        padding-bottom: 35px;
     }
     .text .p3{
         padding-left: 60px;
         padding-bottom: 75px;
      }
 
     .watchbox{
        display: flex;
        flex-direction: column;
        align-items: center;
     }
     
     .watch{
         text-decoration: none;
         margin:10px 0px;
         color:white;
         border:2px solid white;
         width: 200px;
        
     
     }
   

    .first h2 {
        padding: 5px 10PX;
        font-size: 15px;
        font-family: Montserrat, sans-serif;
        font-weight: 700;
        color:blue;
        text-align: center;
        letter-spacing: 2px;
        line-height: 40px;
        padding-bottom: 5PX;
      
    }
   
    .verse {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
       

    }
    .verse img{
        width:250px;
        height:300px;
        margin: 10px 0px;
    }
    .help h1{
        padding: 10px 10px;
        font-size: 15px;
        font-family: Montserrat, sans-serif;
        text-align: center;
        letter-spacing: 2px;
        line-height: 30px;
        color: blue;
       

    }
    
   
    
    }
    

  




@media only screen and (min-width:501px)  and (max-width:798px) 
{
   
  


    /*=========================== background img with content=============================*/
    .content{
        position: relative;
        background-image: linear-gradient(blue,rgb(0, 10, 10));
        background-repeat: no-repeat;
        width:100%;height: 80vh;
        text-align: center;
        
    }
    .content .text{
        position: absolute;
        top:10%;left:0%;
        width: 100%;
        z-index: 0;
        color:white;
        text-shadow: -1px 1px 0 blue, 1px 1px 0 blue,1px -1px 0 blue,-1px -1px 0 blue;
        text-align: center;
    }

    .content img{
       display: none;
    }
    .text h2{
        font-size: 35px;
        padding-bottom: 80px;
     }
  
     .text .p1{
        font-size: 35px;
        padding-bottom: 20px;
     }
     .text .p3{
         
         padding-bottom: 80px;
      }
 
     
     
     .watch{
         text-decoration: none;
         font-size: 25px;
         color:white;
         border:2px solid white;
     }
   

    .first h2 {
        padding: 5px 10PX;
        color: blue;
        font-size: 25px;
        font-family: Montserrat, sans-serif;
        font-weight: 700;
        text-align: center;
        letter-spacing: 2px;
        line-height: 40px;
        padding-bottom: 5PX;
    }

    .verse {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
       

    }
    .verse img{
        width:350px;
        height:300px;
        margin: 10px 0px;
    }
    .help h1{
        padding: 10px 10px;
        font-size: 25px;
        font-family: Montserrat, sans-serif;
        text-align: center;
        letter-spacing: 2px;
        line-height: 30px;
        color: blue;
       

    }
    
   
   
}
@media only screen and (min-width:798px)  and (max-width:1500px) 
   
    {.top {
        position: sticky;
        top: 0;
        z-index: 99;
        overflow: hidden;


    }

    
    /*==================== after header======================*/
    

   /* #slideimg{
        width:100%; 
        height:85vh;
        filter:brightness(50%);
        animation:zoom 3s linear infinite;
        
    }
    @keyframes zoom{
        0%{
            transform: scale(1.1);
            background-image: url(newimg1.jpeg);
        }
        15%{
            transform: scale(1);
            background-image: url(nlfpastor.jpeg);
            
        }
        85%{
            transform: scale(1);
            background-image: url(nlfpastor.jpeg)
           
        }
        100%{
            transform: scale(1.1);
            background-image: url(newimg1.jpeg);
        }
    }

   */

    #slideimg{
        width:100%; 
        height:85vh;
    }
    .content{
        position: relative;
        text-align: center;
        
    }
    .content .text{
        position: absolute;
        top:10%;left:0%;
        width: 100%;
        z-index: 0;
        color:white;
        text-shadow: -1px 1px 0 blue, 1px 1px 0 blue,1px -1px 0 blue,-1px -1px 0 blue;

        
        
    }

    .text h2{
        font-size: 60px;
        padding-bottom: 70px;
     }
     .text .p1{
        font-size: 25px;
        padding-bottom: 50px;
        
     }
     .text .p3{
         font-size: 20px;
         padding-bottom: 100px;
         padding-left: 50px;
      }
 
     
     
     .watch{
         text-decoration: none;
         font-size: 25px;
         color:white;
         border:2px solid white;
     }
    


    .first h2 {
       
         font-size: 5px;
        font-family: sans-serif;
        font-weight: 300;
        text-align: center;
        letter-spacing: 2px;
        line-height: 70px;
        padding:20px 100px 10PX 100px;
        color: blue;
        background-color:rgb(233, 232, 238);
    }

   

    .verse {
       
        
        text-align: center;
        justify-content: center;
      

    }
    .verse img{
        width:550px;
        height:400px;
        padding: 10px;
    }

    .bxl-whatsapp {
        color: green;
    }

    
    .help h1{
        padding-top: 10px;
        font-size: 40px;
        font-family: Montserrat, sans-serif;
        text-align: center;
        letter-spacing: 2px;
        line-height: 70px;
        padding-bottom: 10PX; 
        color:blue;
   

    }
    
    
    
    
    
    
    
    
    
    }